# Jekyll
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata

# backup of deleted dir
# (I think it's redundant
#  when using minima theme)
_sass-bak

# Ruby
Gemfile.lock

# Files
files/CS/*
!files/CS/Glaeser_CV_research.pdf
files/MUSIC/*
!files/MUSIC/Glaeser_CV_music.pdf

# Other
*.swp
.DS_Store