<style>
  .footer-col-1 {
    width:calc(50% - (30px / 2));
  }
  .footer-col-2 {
    width:0px;
  }
  .social-media-list li {
    display: inline;
    text-align: right;
    padding-left: 7.5px;
  }
  .social-media-list {
    float: right;
  }
  i, .icon {
    color: #828282;
  }
  i:hover, .icon:hover {
    color: #3e3e3e;
  }
  #email-icon:hover {
    color: #828282;
  }
</style>

<footer class="site-footer">

  <div class="wrapper">

    <!--h2 class="footer-heading">{{ site.title[page.lang] }}</h2-->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <!--p>{{ site.description[page.lang] }}</p-->
        <ul class="contact-list">
          <!--li>{{ site.title[page.lang] }}</li-->
          <li>
              <i id="email-icon" class="fa fa-envelope"></i> {{ site.email }}
          </li>


        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">

          {% if site.orcid %}
          <li>
            <a target="_blank" href="https://orcid.org/{{ site.orcid }}">
              <i class="ai ai-orcid"></i>
            </a>
          </li>
          {% endif %}

          {% if site.google_scholar %}
          <li>
            <a target="_blank" href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
              <i class="ai ai-google-scholar"></i>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i>
            </a>
          </li>
          {% endif %}
          
          {% if site.keybase_username %}
          <li>
            <a target="_blank" href="https://keybase.io/{{ site.keybase_username }}">
              <span class="icon icon--keybase">
              {% include icon-keybase.svg %}
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
