<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="trigger">
        {% assign pages=site.pages | where:"lang", page.lang | sort: 'order' %}
        {% for my_page in pages %}
          {% if my_page.title %}
          {% unless my_page.title contains "Tag:" %}
          {% if my_page.title == page.title %}
          <p style="color:#8e8e8e;margin-right:20px;display:inline;">{{ my_page.title }}</p>
          {% else %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
          {% endunless %}
          {% endif %}
        {% endfor %}
        <!-- add Blog link for all languages -->
        {% for my_page in site.pages %}
          {% if my_page.ref contains 'blog' %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

