<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="language-options" class="wrapper">
          {% unless page.ref == "notfound" %}
            {% assign curr_lang = page.lang %}
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %} 
            <!-- get a long version of the language to display on the homepage -->
            {% if page.lang == 'de' %}
              {% assign full_language='deutsch' %}
            {% elsif page.lang == 'en' %}
              {% assign full_language='english' %}
            {% elsif page.lang == 'it' %}
              {% assign full_language='italiano' %}
            {% else %}
              {% assign full_language=page.lang %}
            {% endif %}
            {% if page.lang == curr_lang %}
            <p id="current-page" class="{{ page.lang }}">{{ full_language }}</p> 
            {% else %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ full_language }}</a> 
            {% endif %}
            {% endfor %}
          {% endunless %}
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
