<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="language-options" class="wrapper">
          {% unless page.ref == "notfound" %}
            {% assign curr_lang = page.lang %}
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %} 
            <!-- get a long version of the language to display on the homepage -->
            {% if page.lang == 'de' %}
              {% assign full_language='deutsch' %}
            {% elsif page.lang == 'en' %}
              {% assign full_language='english' %}
            {% elsif page.lang == 'it' %}
              {% assign full_language='italiano' %}
            {% else %}
              {% assign full_language=page.lang %}
            {% endif %}
            {% if page.lang == curr_lang %}
            <p id="current-page" class="{{ page.lang }}">{{ full_language }}</p> 
            {% else %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ full_language }}</a> 
            {% endif %}
            {% endfor %}
          {% endunless %}
        </div>

      <!-- content -->

        <h2>{{ page.title }}</h2>

        <p><em>{{ site.data.music.fullcv[page.lang] }} <a target="_blank" href="/files/MUSIC/{{ site.data.music.cvfile }}">{{ site.data.music.here[page.lang] }}</a>{% if site.data.music.in_english[page.lang] %} ({{ site.data.music.in_english[page.lang] }}){% endif %}.</em></p>

        <div id="music-links" style="margin-bottom: 1em">
          <!-- i class="fa fa-folder-open" style="font-size: 12px"></i> [Choreography Portfolio]() (coming soon)  -->
          <i class="fa fa-volume-up"></i> <a href="https://{{ site.data.music.playlist_link }}">{{ site.data.music.playlist[page.lang] }}</a>
        </div>

        <h3 id="teaching-experience">{{ site.data.music.teaching_title[page.lang] }}</h3>

        <ul>
          {% for item in site.data.music.teaching_experiences %}
          <li><span class="bold">{{ item.school }}</span>, {{ item.location }}
            <br/><em>{{ item.dates }}</em>
            <br/>{{ item.role }}
          </li>
          {% endfor %}
        </ul>

        <h3 id="marching-experience">{{ site.data.music.marching_title[page.lang] }}</h3>

        <ul>
          {% for item in site.data.music.marching %}
          <li>
            {{ item.group }} ({{ item.instrument }}), <em>{{ item.dates }}</em>
          </li>
          {% endfor %}
        </ul>

        <h3 id="instruments">{{ site.data.music.instr_title[page.lang] }}</h3>
        {% for item in site.data.music.instruments %}
          {{ item.name }} ({{ item.years }})<br/>
        {% endfor %}

      </div>
    </div>

    {% include footer.html %}

  </body>

  <style>
    #music-links i {
      font-size: 1em;
      vertical-align: middle;
    }
    #music-links i:hover {
      color: #828282;
    }
    .bold {
      font-weight: bold;
    }
  </style>

</html>
